:root {
    --grey-90: #222;
    --blue-60: #306bea;
    --blue-90: #2e489e;
    --white: white;
    --grey-05: #f7f8fa;
    --blue-05: #ebf1ff;
    --grey-10: #edeff2;
    --grey-30: #d0d3d9;
    --blue-10: #cdf;
    --blue-70: #2e60cf;
    --gradient-blue: #007fff;
    --gradient-violet: #bd50ff;
    --grey-80: #313233;
    --blue-30: #8cb1ff;
    --blue-100: #001525;
    --grey-50: #8a8c8f;
    --blue-20: #b2cbff;
    --grey-20: #dfe1e5;
    --violet-20: #ccb1fa;
    --green-20: #bce5bf;
    --violet-05: #f0eafe;
    --green-05: #edfaee;
    --citron-40: #c9f227;
    --blue-50: #4d83f7;
    --grey-40: #b0b2b8;
    --dune-10: #f3f0ec;
    --citron-10: #f4ffd3;
    --red-100: #381913;
    --green-100: #002517;
    --grey-60: #626366;
    --apricot-10: #ffdbc0;
    --citron-hover: #afd80d;
    --blue-80: #2e54b6;
    --grey-70: #494a4c;
    --red-05: #ffe8e7;
    --red-10: #ffd6d5;
    --red-20: #ffb6b5;
    --red-30: #ff908d;
    --red-40: #ff6662;
    --red-50: #fb443f;
    --red-60: #ec1004;
    --red-70: #d51a11;
    --red-80: #b01912;
    --red-90: #871814;
    --orange-05: #ffeed9;
    --orange-10: #ffe3bf;
    --orange-20: #ffd399;
    --orange-30: #ffc273;
    --orange-40: #ffac40;
    --orange-50: #ff9c1a;
    --orange-60: #fa8e01;
    --orange-70: #eb7e01;
    --orange-80: #d96d01;
    --orange-90: #bf5701;
    --violet-10: #e4d7fd;
    --violet-30: #ba92f5;
    --violet-40: #a972ef;
    --violet-50: #9a51e7;
    --violet-60: #7d43d3;
    --violet-70: #673bc6;
    --violet-80: #582cbd;
    --violet-90: #43319a;
    --blue-40: #6697ff;
    --green-10: #dbf0d9;
    --green-30: #98d69c;
    --green-40: #68c16e;
    --green-50: #47a54e;
    --green-60: #2b882d;
    --green-70: #256e21;
    --green-80: #286220;
    --green-90: #25541a;
    --apricot-60: #da6544
}